.skip{
    visibility: hidden;
}

.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    z-index: 1;
}
/* header{
    background-color: blue;
} */

nav{
    justify-items: center;
}

nav li{
    background-color: lightpink;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
    width:18%;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center; /*how do u center all of them*/
}

a, a:visited{
    color: black;
}

a:hover{
    color: blue;
}

.active{
    border: 2px dashed black;
    background-color: rgb(255, 178, 46);
}

h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

body{
    background-color: beige;
}

.paragraph{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 10px;
}

.images img{
    width: 80%;
    border: white solid 2px;
}

footer{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: rgb(240, 240, 232);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: lightpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkorchid;
}

.contact {
    border-radius: 5px;
    background-color: rgb(189, 189, 165);
    padding: 20px;
}


@media screen and (min-width: 700px){
    .paragraph{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .images{
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        align-items: center;
        justify-content: center;
        justify-items: center;
        row-gap: 10px;
    }
    
    .images img{
        width: 80%;
        border: white solid 2px;
    }
}

@media screen and (min-width: 1000px){
    .paragraph{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .images{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;
        align-items: center;
        justify-content: center;
        justify-items: center;
        row-gap: 10px;
    }
    
    .images img{
        width: 80%;
        border: white solid 2px;
    }
}
